ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    display: flex;
    float: left;
  }
  
  li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: white;
  }

  body {
      background-color: gray;
      margin: 0px;
  }

  div {
      margin-top: 40px;
      margin-right: 130px;
      margin-left: 130px;
      background-color: white;
      height: 600px;
      padding: 25px;
      padding-top: 12px;
      border-color: #dddddd;
  }

  h2 {
      color: #4aaaa5;
      font-family: 'Georgia', Times, 'Times New Roman', serif;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;  
  }

  #home {
      color: black;
  }