ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: grey;
    padding: 25px 16px;
    text-decoration: none;
    border-right: 1px solid #bbb;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    opacity: 80%
  }
  
  .active {
    background-color: white;
  }

  body {
      background-image: url("../images/herringbone.png");
      background-color: #ddd;
      margin: 0px;
  }

  div {
      margin-top: 40px;
      margin-right: 130px;
      margin-left: 130px;
      margin-bottom: 0;
      background-color: white;
      height: 690px;
      padding: 25px;
      padding-top: 12px;
      border-color: #dddddd;
  }

  h2 {
      color: #4aaaa5;
      font-family: 'Georgia', Times, 'Times New Roman', serif;
      font-weight: 1500;
    }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;  
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
  }

  #home {
      color: black;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666; 
    margin-left: 0px;
    height: 20px;
    border-top: 8px solid #4aaaa5;
  }

  .paragraph {
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      font-size: 18px;
      color: #777;
      line-height: 31px;
      text-indent: 30px;
  }

  .img-container {
    width: 33.33%;
    padding: 5px;
  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .border-line-remove {
    border: 0px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;
  }

  .copy {
    font-size: 12px;
    color: whitesmoke;
    opacity: 60%;
  }
  
  .border-line-remove {
    background-color: #4aaaa5;
  }